/* ! Root  */
:root {
  --lightblue: #b4d0e7;
  --skyblue: #0093ce;
  --blue: #0061ff;
  --darkblue: #0d2481;
  --lightgreen: #a2d39b;
  --red: #ff1c1c;
  --darkred: #d5001f;
  --winered: #61082b;
  --yellow: #ffd830;
  --gray: #f5f5f5;
  --bgcgray: #f7f5f2;

  --tb1: #faf9f7;
  --tb2: #f7f5f2;
  --tb3: #f2eee8;
  --tb4: #eee9e2;
  --bordercolor: hsl(36, 28%, 85%);
}

/*  ! Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ! Generics  */
body {
  font-family: "Familjen Grotesk", sans-serif;
  padding-top: 80px;
  background-color: var(--bgcgray);
}

header {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 -1px 5px black;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

footer {
  color: white;
}
ul {
  list-style-type: none;
}
img {
  display: inline-block;
}
/* ! Header  */

.nav-header {
  justify-content: space-between;
  height: 80px;
}

.nav-header img {
  vertical-align: middle;
  height: 100%;
}
.nav-options {
  align-items: center;
}
.nav-options-right a {
  padding: 29px 20px;
}
.nav-options-left a {
  padding: 31px 20px;
}
.nav-options a:hover {
  box-shadow: inset 0 -3px 0px 0 cornflowerblue;
}

/* ! Jumbotron  */
.jumbotron,
.center-text {
  text-align: center;
  margin: 0 auto;
}
.jumbotron h1 {
  padding-bottom: 20px;
}
.jumbo-icons {
  margin: 50px 0;
}

/* ! Plans Cards  */

/* Cards */
.card-row {
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
}
.card {
  width: calc(100% / 3 - (25px * 2 / 3));
  padding: 20px;
  min-height: 480px;
  background-color: #fff;
}
.buy-now {
  margin: 30px 0;
  display: inline-block;
}
.card-list .fa-check {
  color: var(--blue);
  margin-right: 10px;
}
.card-list .flex {
  align-items: center;
  padding: 5px 0;
}
.card h2 {
  margin: 10px 0;
}
.card h3 {
  margin-bottom: 10px;
}
.card .btn-lg {
  margin-top: 30px;
}
.card-offer {
  min-height: 165px;
}

/* Buttons Cards  */

.card .btn-arrow {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.card .btn-lg {
  position: relative;
}

.btn-lg:hover .btn-arrow {
  right: 20px;
  transition: 0.3s;
}

/* ! Free plan register */
.center-text h1 {
  margin: 70px 0;
}
.center-text a {
  margin-top: 30px;
  display: block;
}

/* ! Table Section  */
.table table {
  width: 100%;
  margin-bottom: 500px;
  border-collapse: collapse;
}

.table tr {
  width: 100%;
}
.table th {
  width: calc(100% / 6);
}
.table tbody td,
.table tbody th,
.table tbody table {
  border: 1px solid var(--bordercolor);
}
.b-color {
  border: 1px solid var(--bordercolor);
}
.table div {
  padding: 0 20px;
  margin: 15px 0;
}
.table tbody .table-header {
  text-align: left;
  width: 100%;
}
.col-0 {
  width: 100%;
}
th i {
  color: var(--blue);
}
thead th {
  border-left: 1px solid var(--bordercolor);
}
thead {
  border: 1px solid var(--bordercolor);
  position: sticky;
  top: 80px;
}
/* ! Utilities */
.grid {
  display: grid;
  flex-direction: column;
}
.flex {
  display: flex;
}
.a-reset {
  color: blue;
  text-decoration: underline;
}
.ta-left {
  text-align: left;
}

.v-hidden {
  visibility: hidden;
}
.m-tb-70 {
  margin: 70px auto;
}

/* Breaklines  */
.break-line {
  width: 50px;
  margin: 40px 0;
  border-bottom: 1px solid lightgray;
}
.break-line-lg {
  width: 100px;
  margin: 40px 0;
  border-bottom: 1px solid lightgray;
}
.break-line-xxl {
  width: 100%;
  margin: 40px 0;
  border-bottom: 1px solid lightgray;
}

/* Container  */
.wrap-lg {
  height: 750px;
}
.wrap-sm {
  height: 350px;
}
.container-lg {
  width: 1300px;
  margin: 0 auto;
}
.container-md {
  width: 1000px;
  margin: 0 auto;
}
.container-sm {
  width: 750px;
  margin: 70px auto;
}

/* Buttons  */
.btn-lg a {
  width: 100%;
  padding: 15px 25px;
  background-color: var(--blue);
  display: inline-block;
}
.btn-lg a:hover,
.btn-xs:hover {
  opacity: 0.8;
}
.btn-xs {
  color: white;
  background-color: var(--blue);
  padding: 7px 15px;
}

.btn-partner a {
  border: 1px solid black;
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
}
.btn-partner a:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  box-shadow: 0 0px 10px black;
}

.btn-lg a {
  color: white;
}
/* Columns  */
.col-xxs {
  width: 15%;
}
.col-sm {
  width: 40%;
}
.col-md {
  width: 60%;
}
.col-xs {
  width: 30%;
}
.col-lg {
  width: 70%;
}
.col-xl {
  width: 85%;
}

/* Background Colors */
.lightblue {
  background-color: var(--lightblue);
}
.blue {
  background-color: var(--blue);
}
.skyblue {
  background-color: var(--skyblue);
}
.lightgreen {
  background-color: var(--lightgreen);
}
.winered {
  background-color: var(--winered);
}
.red {
  background-color: var(--red);
}
.darkred {
  background-color: var(--darkred);
}
.yellow {
  background-color: var(--yellow);
}
.darkblue {
  background-color: var(--darkblue);
}
.gray {
  background-color: var(--gray);
}
.black {
  background-color: black;
}
/* Table colors  */
.tbgc-0 {
  background-color: #fff;
}
.tbgc-1 {
  background-color: var(--tb1);
}
.tbgc-2 {
  background-color: var(--tb2);
}
.tbgc-3 {
  background-color: var(--tb3);
}
.tbgc-4 {
  background-color: var(--tb4);
}
/* Debug */
.debug {
  border: 2px dashed black;
}
