/* ! Root  */
:root {
  --lightblue: #b4d0e7;
  --skyblue: #0093ce;
  --blue: #0061ff;
  --darkblue: #0d2481;
  --lightgreen: #a2d39b;
  --red: #ff1c1c;
  --darkred: #d5001f;
  --winered: #61082b;
  --yellow: #ffd830;
  --gray: #f5f5f5;
}

/*  ! Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ! Generics  */
body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 80px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  padding: 70px 0;
}
h2 {
  font-size: 2.5rem;
}

p {
  line-height: 1.3;
  font-size: 1.1rem;
}
footer {
  color: white;
}
/* ! Header  */

.nav-header {
  justify-content: space-between;
  height: 80px;
}

.nav-header img {
  display: inline-block;
  vertical-align: middle;
}
.nav-options {
  align-items: center;
}
.nav-options a {
  margin: 0 20px;
}

/* ! Main  */

/* * Jumbotron  */
.jumbo-title {
  height: 45%;
}
.jumbo-info {
  height: 55%;
}
.jumbo-description {
  flex-direction: column;
  position: relative;
}
.jumbo-description i {
  font-size: 3rem;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.jumbo-pic img {
  height: 490px;
}

/*  *Plan Section  */
.plan {
  padding-top: 100px;
}
/* Plan Title  */
.plan-header {
  margin-bottom: 50px;
}
.plan-header h2 {
  font-size: 2.5rem;
  padding: 50px 0;
}
.plan-header span {
  margin-right: 60px;
}
/* Plan row  */
.plan-row {
  gap: 50px;
  justify-content: center;
}
.plan-row .fas {
  margin-right: 5px;
  font-size: 14px;
}
/* Plan columns */

.plan-col {
  flex-basis: calc(100% / 3);
}
.plan-col-xs {
  flex-basis: 30%;
  padding: 30px;
}
.plan-col-md {
  flex-basis: 70%;
  padding: 30px;
}
.plan-col-lg {
  flex-basis: 100%;
}
.plan-col-lg.title {
  margin-top: 50px;
}
.plan-col.title,
.plan-col-lg.title {
  height: 40px;
  justify-content: center;
  align-items: center;
}
.plan-col.cards {
  min-height: 800px;
  padding: 30px;
  flex-direction: column;
}

/* Plan type  */
.plan-type {
  flex-direction: column;
  margin-bottom: 30px;
}
.plan-type h2 {
  margin-bottom: 20px;
}
.plan-type span {
  padding-bottom: 10px;
}
.plan-type .last {
  color: lightgray;
}
/* Plan functions  */
.plan-functions {
  margin-bottom: 10px;
}
.plan-functions li {
  padding: 10px 0;
  list-style-type: none;
}
/* Plan offer */
.plan-offer .fa-check {
  color: var(--blue);
  margin-right: 5px;
}
.plan-offer h4 {
  margin-bottom: 40px;
}
/* Plan offer list  */
.plan-offer-list {
  margin-bottom: 20px;
}
/* Plan offer large content  */
.plan-col-lg.content h2 {
  margin-bottom: 20px;
}
.plan-col-lg.content h4 {
  margin-bottom: 50px;
}

.plan-contact-us {
  justify-content: center;
}
.plan-contact-us > .btn-lg {
  margin: 0;
}
/* Plan partner */
.plan-partner {
  margin: 150px 0;
}
.plan-partner img {
  width: 100%;
  display: block;
}
.plan-partner .col-sm {
  padding: 50px;
}
.plan-partner .col-sm p {
  margin: 20px 0;
}

/* * Dropbox Uses section  */
.prod-info h2 {
}
.prod-info-row {
  flex-basis: 100%;
  margin-top: 70px;
  gap: 50px;
}
.prod-info-col {
  flex-basis: calc(100% / 3);
}
.prod-info-card img {
  width: 100%;
}
.prod-info-card h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 30px;
}
.prod-info-card img {
  width: 100%;
}
.prod-info-business-users {
  padding: 200px 0 150px 0;
}
.prod-info-business-users h2 {
  margin-bottom: 80px;
}
.prod-info-business-users a {
  margin-bottom: 80px;
}

/* * Sponsor section  */
.sponsor-col-ext {
  flex-basis: calc(100% / 3);
  height: 640px;
}
.sponsor-row {
  width: 100%;
  height: 50%;
}
.sponsor-col-int {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.sponsor-row img {
  width: 50%;
}
.sponsor-col-ext.center {
  padding: 50px;
  background-color: var(--gray);
}
.sponsor-col-ext.center p {
  margin-bottom: 50px;
}
.sponsor-col-ext.center img {
  width: 50%;
}

/* * Business Free try section  */
.container-md.business {
  padding: 130px 0;
  justify-content: space-between;
}
.container-md.business h2 {
  color: var(--winered);
}
.business .btn-lg a {
  margin: 0;
  background-color: white;
  color: black;
}

/* * Frequent Questions  */

.questions-section h2 {
  margin: 20px 0;
}

.question-hidden {
  display: none;
}

.answer {
  text-align: end;
}
.answer i {
  cursor: pointer;
}
.question:hover h4 {
  display: block;
  margin-top: 20px;
}

/* ! Footer  */
footer .wrap-lg {
  height: 550px;
}
.footer-row {
}
.footer-col {
  flex-basis: calc(100% / 5);
  height: 300px;
  margin-top: 100px;
  padding-left: 50px;
}
footer a {
  color: white;
}
footer li {
  list-style-type: none;
  margin-bottom: 15px;
}
footer h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.language,
.language a {
  color: gray;
}
/* ! Utilities */
.flex {
  display: flex;
}
.a-reset {
  color: blue;
  text-decoration: underline;
}
.break-line {
  width: 50px;
  margin: 40px 0;
  border-bottom: 1px solid lightgray;
}
.break-line-lg {
  width: 100px;
  margin: 40px 0;
  border-bottom: 1px solid lightgray;
}
.break-line-xxl {
  width: 100%;
  margin: 40px 0;
  border-bottom: 1px solid lightgray;
}

/* Container  */
.wrap-lg {
  height: 750px;
}
.wrap-sm {
  height: 350px;
}
.container-lg {
  width: 1200px;
  margin: 0 auto;
}
.container-md {
  width: 1000px;
  margin: 0 auto;
}

/* Buttons  */
.btn-lg a {
  margin: 30px 0;
  width: 230px;
  padding: 15px;
  background-color: var(--blue);
  text-align: center;
  display: inline-block;
}
.btn-xs {
  color: white;
  background-color: var(--blue);
  padding: 7px 15px;
}

.btn-partner a {
  border: 1px solid black;
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
}

.btn-lg a {
  color: white;
}
/* Columns  */
.col-xxs {
  width: 15%;
}
.col-sm {
  width: 40%;
}
.col-md {
  width: 60%;
}
.col-xs {
  width: 30%;
}
.col-lg {
  width: 70%;
}
.col-xl {
  width: 85%;
}

/* Card Border */
.border-gray {
  border: 1px solid lightgray;
}
.border-gray-nobottom {
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

/* Background Colors */
.lightblue {
  background-color: var(--lightblue);
}
.blue {
  background-color: var(--blue);
}
.skyblue {
  background-color: var(--skyblue);
}
.lightgreen {
  background-color: var(--lightgreen);
}
.winered {
  background-color: var(--winered);
}
.red {
  background-color: var(--red);
}
.darkred {
  background-color: var(--darkred);
}
.yellow {
  background-color: var(--yellow);
}
.darkblue {
  background-color: var(--darkblue);
}
.gray {
  background-color: var(--gray);
}
.black {
  background-color: black;
}
/* Debug */
.debug {
  border: 2px dashed white;
}

/* 
--lightblue: #b4d0e7;
--skyblue: #0093ce;
--blue: #0061ff;
--darkblue: #0d2481;
--lightgreen: #a2d39b;
--red: #ff1c1c;
--darkred: #d5001f;
--winered: #61082b;
--yellow: #ffd830; */
